.metadata
.recommenders
Servers
*/target/
*/.classpath
*/.settings
*/.apt_generated
*/.factorypath
*/.project
*/.springBeans


# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
